body {
    background-color: rgb(206, 214, 240);
}


div {
    background-color: aliceblue;
    text-align: center;
    margin: 40px 250px 50px 250px ;
    border-radius: 15px;
}

form.parte1{
    margin-right: 135px;
}
form.parte2{
    margin-right: 115px;
    margin-top: 15px;
}
img{
    transform: translate(58px,30px);
    height: 35px;
    width: 35px;
}
input.one{
    margin-top:15px ;
}
input.two{
    margin-top: 15px;
}

p.final{
    transform: translate(0px,-30px);
}
